
<section class="grid md:grid-cols-2 h-screen " >

    <div class="bg-[#F0F4FC] md:flex hidden shadow-lg shadow-black/10 p-6 rounded-e-2xl  ">

       <div class=" w-[482px] h-[772px] p-6 ms-5">

        <div class="font-bold text-[50px]">
            <h1 class="text-black">Welcome to </h1>
            <h2 class="text-[#122D9C]">Elevate</h2>
        </div>

        <p class="font-normal text-[18px]">Quidem autem voluptatibus qui quaerat aspernatur architecto natus</p>

        <div class="mt-20 ">
            <img src="/images/bro.png" alt="student in an exam" class="w-full"/>
        </div>

       </div>

    </div>

    <div class="flex flex-col items-center  " >
        <div class="w-[362px] h-[42px] mt-8 mx-auto md:me-16 p-0">
            <app-auth-navbar></app-auth-navbar>
        </div>

        <div class=" w-[410px] h-[490px]">
            <router-outlet></router-outlet>

            <div>
                    <p class="lines text-[#6C737F] ">Or Continue with</p>

                <div>
                    <img class="w-full" src="/images/Frame 269.png" alt="socials"/>
                </div>
            </div>

        </div>

       

    </div>

</section>







 