<section class=" mt-40">
    <h1 class="text-[24.78px] font-bold text-black mb-8">Forgot your password?</h1>

    <form>


        <div class="mb-8">
        
            <label for="email" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white"></label>
            <input  type="email" id="email" class="bg-[#F9F9F9] border-gray-300 shadow-sm  text-[#A1A4A9] text-sm rounded-lg focus:ring-[#F04438] focus:border-[#F04438] block w-full p-2.5" placeholder="Enter Email" required>

          

        </div>


      

        <div class="text-right mb-10 mt-4">
             <a routerLink="/forgotpassword" class="text-[#4461F2]">Recover Password?</a>
        </div>


        <button  type="submit" class="auth-btn">
          Sign In
        </button>

          
        

    </form>
</section>

