<section class=" mt-8">
    <h1 class="text-[24.78px] font-bold text-black mb-8">Sign Up</h1>

    <form>

        <div class="mb-8">
            <label for="fname" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white"></label>
        <input  type="text" id="fname" class="bg-[#F9F9F9] border-gray-300 shadow-sm  text-[#A1A4A9]  text-sm rounded-lg focus:ring-[#F04438] focus:border-[#F04438] block w-full p-2.5 "placeholder="First Name" required>

         
              
        </div>

        <div class="mb-8">
            <label for="lname" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white"></label>
            <input  type="text" id="lname" class="bg-[#F9F9F9] border-gray-300 shadow-sm   text-[#A1A4A9] text-sm rounded-lg focus:ring-[#F04438] focus:border-[#F04438] block w-full p-2.5 "placeholder="Last Name" required>

         
              
        </div>

        <div class="mb-8">
        
            <label for="email" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white"></label>
            <input  type="email" id="email" class="bg-[#F9F9F9] border-gray-300 shadow-sm  text-[#A1A4A9] text-sm rounded-lg focus:ring-[#F04438] focus:border-[#F04438] block w-full p-2.5" placeholder="Email" required>

          

        </div>

        <div class="mb-8">
            
            <label for="password" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white"></label>
            <input  type="password" id="password" class="bg-[#F9F9F9] border-gray-300 shadow-sm  text-[#A1A4A9] text-sm rounded-lg focus:ring-[#F04438] focus:border-[#F04438] block w-full p-2.5 "placeholder="Password" required>

            

        </div>

        <div>
            <label for="confirm" class="block mb-2 text-sm font-medium capitalize text-gray-900 dark:text-white"></label>
            <input type="password" id="confirm" class="bg-[#F9F9F9] border-gray-300 shadow-sm  text-[#A1A4A9] text-sm rounded-lg focus:ring-[#F04438] focus:border-[#F04438] block w-full p-2.5 "placeholder="Confirm Password" required>
           

        </div>

        <div class="flex justify-center mb-10 mt-4">
            <p>Already have an account?</p> <a routerLink="/signin" class="text-[#4461F2]">Login</a>
        </div>


        <button  type="submit" class="auth-btn">
          Create Account
        </button>

          
        

    </form>
</section>

